.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.whatsapp-fixed-button {
    
    position: fixed; 
    
    
    bottom: 8%; 
    right: 10px; 
    
    
    z-index: 900; 
    
    background-color: transparent;
    border-radius: 50%;
    padding: 5px; 
    
    transition: transform 0.3s ease;
}

.whatsapp-fixed-button:hover {
    transform: scale(1.1); 
}



.sright-icon {
    color: #25d366; 
    font-size: 45px; 
    transition: color 0.3s ease;
    cursor: pointer;
}

.sright-icon:hover {
    color: #1fad5c;
}
